.git
.gitignore
node_modules

# Không cần các platform native khi deploy web
android
ios
macos
windows
linux

# Test & coverage
test
coverage

# KHÔNG ignore build/web
# Chỉ ignore build/app nếu có
build/app
